body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}

#quiz-container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-container {
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.question-container.active {
    display: block;
    opacity: 1;
}

.hidden {
    display: none;
}

.nav-buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

#prev-btn {
    background-color: #f39c12;
}

#next-btn {
    background-color: #27ae60;
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}
